/* 
    Created on : 18 Aug, 2016, 4:11:53 PM
*/
h2{
  text-align: center;
}
.mz-inputS1{
  width: 100%;
  text-align: center;
  border-style: solid;
  border-radius: 4px;
}
.mz-centerAlign{
  text-align: center;
}
.mz-displaylabel{
  width: 100%;
  text-align: center;
  border: 1px solid #fea;
  border-radius: 3px;
  font-style: italic;
  font-size: 18px;
  font-weight: bolder;
}

